{% extends 'base.html.twig' %}

{% block title %}A propos | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>A propos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae ducimus eius molestiae odio. Architecto, distinctio doloremque dolores expedita facere illo nihil nobis numquam, obcaecati omnis quae saepe, sint voluptatibus!</p>
    </div>
{% endblock %}

