:root {
    --color-primary: #a5a58d;
    --color-secondary: #eddcd2;
    --color-light: #fff1e6;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-light);
}

body > main {
    flex-grow: 1;
}

.container {
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.site-header {
    padding: 1rem 0;
    background-color: var(--color-primary);
}

.site-header .logo {
    display: flex;
    gap: 1rem;
}

.site-header .logo img {
    height: 50px;
}

.site-header nav ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style-type: none;
}

.site-header nav ul li a {
    color: black;
    text-decoration: none;
}

.site-footer {
    padding: 1rem 0;
    background-color: var(--color-secondary);
    text-align: center;
}

.creators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.creators > article img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .container {
        width: 600px;
    }

    .creators {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .creators {
        grid-template-columns: repeat(1, 1fr);
    }
}