{% extends 'base.html.twig' %}

{% block title %}{{ category.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ category.name }}</h1>

        <section>
            {% for souhait in wishes %}
                {% include 'wish/_card.html.twig' with {'wish': souhait} only %}
            {% endfor %}
        </section>

    </div>
{% endblock %}
