{% extends 'base.html.twig' %}

{% block title %}Modification d'un souhait | {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modification d'un souhait</h1>

        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <button type="submit">Modifier</button>

        {{ form_end(wishForm) }}

    </div>

{% endblock %}

