{% extends 'base.html.twig' %}

{% block title %}Liste des souhaits | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des souhaits</h1>

        <section>
            {% for wish in wishes %}
                {% include 'wish/_card.html.twig' %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
