{% extends 'base.html.twig' %}

{% block title %}Liste des souhaits | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des souhaits</h1>

        <section>
            {% for wish in wishes %}
                <article>
                    <a href="{{ path('wish_show', {'id': wish.id}) }}">
                        {{ wish.title }}
                    </a>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
