{% extends 'base.html.twig' %}

{% block title %}Détail d'un souhait | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Détail du souhait XXX</h1>
    </div>
{% endblock %}

